body{
  margin : 0;
  background-color: white;
}
/*********************************  Table CSS *********************************/
/* 테이블 내 th와td 동시 변경 */
.ant-table th,
.ant-table td {
  font-size: 13px; /* 원하는 크기로 조절 */
}
/* 테이블 th 공통 css */ 
.ant-table th {
}
/* 테이블 td 공통 css */
.ant-table td {
 
}

/* 테이블 내 cell 공통 css */
.ant-table-cell{
  padding :  4px !important;
  border-bottom : 1px solid #919191 !important;
  
}
/* data-row-key 값이 짝수인 경우 */
tr[data-row-key]:nth-child(even) {
  background: white; /* 흰색 */
}

/* data-row-key 값이 홀수인 경우 */
tr[data-row-key]:nth-child(odd) {
  background: #d4d4d4 ; /* 연한 회색 */
}

.ant-table-cell-fix-right,
.ant-table-cell-fix-left{
  background : none !important;
}

.ant-table-cell-row-hover{
  background : #79c3ff !important;
}

.ant-splitter:not(.non-resizable) >.ant-splitter-bar .ant-splitter-bar-dragger:hover:not(.ant-splitter-bar-dragger-active)::before {
    background: #d8225f;
}
.ant-splitter-vertical:not(.non-resizable) >.ant-splitter-bar .ant-splitter-bar-dragger::before{
  height : 10px;
}
/*********************************  Table CSS *********************************/